/* TW Prose Overrides */
@utility prose-custom {
  --tw-prose-body: var(--muted-foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-lead: var(--muted-foreground);
  --tw-prose-links: var(--muted-foreground);
  --tw-prose-bold: var(--foreground);
  --tw-prose-counters: var(--primary);
  --tw-prose-bullets: var(--primary);
  --tw-prose-hr: var(--muted-foreground);
  --tw-prose-quotes: var(--foreground);
  --tw-prose-quote-borders: var(--primary);
  --tw-prose-captions: var(--foreground);
  --tw-prose-code: var(--foreground);
  --tw-prose-pre-code: var(--muted-foreground);
  --tw-prose-pre-bg: var(--muted);
  --tw-prose-th-borders: var(--accent);
  --tw-prose-td-borders: var(--accent);
  --tw-prose-invert-body: var(--muted-foreground);
  --tw-prose-invert-headings: var(--foreground);
  --tw-prose-invert-lead: var(--muted-foreground);
  --tw-prose-invert-links: var(--muted-foreground);
  --tw-prose-invert-bold: var(--foreground);
  --tw-prose-invert-counters: var(--primary);
  --tw-prose-invert-bullets: var(--primary);
  --tw-prose-invert-hr: var(--muted-foreground);
  --tw-prose-invert-quotes: var(--foreground);
  --tw-prose-invert-quote-borders: var(--primary);
  --tw-prose-invert-captions: var(--foreground);
  --tw-prose-invert-code: var(--foreground);
  --tw-prose-invert-pre-code: var(--muted-foreground);
  --tw-prose-invert-pre-bg: var(--muted);
  --tw-prose-invert-th-borders: var(--accent);
  --tw-prose-invert-td-borders: var(--accent);
}
