---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Filters from "@/components/DisplayFilters";
import DisplayCards from "@/components/DisplayCards";
import { paths } from "@/utils/findPathByType";
import { allBlogData } from "@/data/contentCollectionDataFetching";

// Get static paths
export const getStaticPaths = () => {
  return paths.blog?.path ? [{ params: { blog: paths.blog.path } }] : [];
};

const getTags = () => {
  const postsWithTags = allBlogData.filter((i) => i.data.tags);
  let tagSet = new Set<string>();

  if (postsWithTags.length > 0) {
    postsWithTags.forEach((post) =>
      post.data.tags?.forEach((t) => tagSet.add(t)),
    );
  }

  return tagSet.size === 0 ? null : [...tagSet].sort();
};
---

<BaseLayout pageTitle={paths.blog?.label || "Blog"}>
  <main class="layout-base gap-8 py-8">
    <section class="flex flex-col gap-2">
      <Filters {allBlogData} allTags={getTags()} client:only="react" />
      <DisplayCards data={allBlogData} paths={paths} client:load />
    </section>
  </main>
</BaseLayout>
