---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Calendar from "@/components/Calendar";
import { eventsPath } from "@/lib/nav";

// Prevent manually visiting the events path if events set to false
if (!eventsPath) {
  return Astro.redirect("/404");
}

export const getStaticPaths = () => {
  // const eventsPath = findPathByType(config.header.menu, "Events");

  return [
    {
      params: {
        events: eventsPath?.path,
      },
    },
  ];
};
---

<BaseLayout pageTitle={eventsPath.label || "Events"}>
  <main class="layout-base py-8">
    <div>
      <Calendar client:load />
    </div>
  </main>
</BaseLayout>
