---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ReactFilter from "./ReactFilter";
---

<BaseLayout pageTitle="filter test">
  <main class="layout-base gap-8 py-8">
    <div>
      <ReactFilter client:only="react" />
    </div>
  </main>
</BaseLayout>
