---
import { type ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ButtonLink } from "@/components/ButtonLink";
import { StyledText } from "@/components/StyledText";

import BaseLayout from "@/layouts/BaseLayout.astro";
import config from "@/site.config.json";

const { hero, cta } = config.body;

const bgImage = import.meta.glob<{ default: ImageMetadata }>(`src/assets/*`);
---

<BaseLayout>
  <main class="relative min-h-[calc(100vh-6.5rem)]">
    <section
      class="grid min-h-screen w-full bg-cover bg-right"
      aria-labelledby="hero-heading"
    >
      <!-- BACKGROUND IMG -->
      {
        "bgImage" in hero && (
          <Image
            src={bgImage[`/${hero.bgImage}`]()}
            alt="Homepage background"
            class="absolute inset-0 w-full h-full object-cover"
            priority
          />
        )
      }

      <!-- BACKGROUND OVERLAY -->
      <div
        class="bg-muted col-start-1 row-start-1 h-full w-full opacity-85"
        aria-hidden="true"
      >
      </div>

      <!-- HERO CONTENT -->
      <div class="layout-base isolate col-start-1 row-start-1 gap-y-8">
        <StyledText
          as="h2"
          id="hero-heading"
          variant="displayXL"
          set:html={hero.text}
        />
        {
          cta.text && (
            <ButtonLink
              variant="accent"
              href={cta.link}
              target="_blank"
              className="w-full h-auto"
            >
              <StyledText as="span" variant="button" set:html={cta.text} />
            </ButtonLink>
          )
        }
      </div>
    </section>
  </main>
</BaseLayout>
