---
import { NavMenu } from "@/components/NavMenu";
import { Sidebar } from "@/components/Sidebar";
import { StyledText } from "@/components/StyledText";

import config from "@/_site-config.json";
const { header, general } = config;

import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";
const logoImage = import.meta.glob<{ default: ImageMetadata }>(`src/assets/*`);

const currentPath = Astro.url.pathname;
---

<header
  class:list={["layout-full py-4 h-26", currentPath !== "/" && "bg-muted"]}
>
  <div class="flex w-full items-center">
    {
      "logo" in header ? (
        <a href="/" class="flex-1">
          <h1 class="sr-only">{general.name}</h1>
          <Image
            src={logoImage[`/${header.logo}`]()}
            alt="logo"
            class={"max-h-18"}
          />
        </a>
      ) : (
        <StyledText as="h1" variant="displayLG" className="flex-1">
          <a href="/">{general.name}</a>
        </StyledText>
      )
    }

    <NavMenu
      className="hidden gap-2 lg:inline-flex items-center flex-wrap"
      client:load
    />

    <Sidebar client:load />
  </div>
</header>
