---
import {
  allPreachersData,
  allSeriesData,
  allSermonData,
} from "@/data/contentCollectionDataFetching";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { paths } from "@/utils/findPathByType";
import LatestSermon from "./_components/LatestSermon.astro";
import FilteredSermons from "./_components/FilteredSermons";

// Get static paths
export const getStaticPaths = () => {
  return paths.sermons?.path
    ? [{ params: { sermons: paths.sermons.path } }]
    : [];
};
---

<BaseLayout pageTitle={paths.sermons?.label || "Sermons"}>
  <main class="layout-base gap-8 py-8">
    <h1 class="sr-only">Sermons</h1>
    <section class="flex flex-col gap-4">
      <LatestSermon />
    </section>
    <section class="flex flex-col gap-2">
      <FilteredSermons
        {allSermonData}
        {allPreachersData}
        {allSeriesData}
        {paths}
        client:only="react"
      />
    </section>
  </main>
</BaseLayout>
